<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlogyHub</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">BlogyHub</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link" href="/user/signup">Create Account</a>
          </li> -->
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
            <a class="nav-link" href="/">Home</a>
          </li>
          <% if (locals.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/blog/add-new">Add Blog</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Harsshad Sivsharan
              <%= locals.user.fullName %>

            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
            </ul>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/user/signup">Create Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/signin">Signin</a>
          </li>
          <% } %>
          <div class="checkbox-wrapper-5">
            <div class="check">
              <input id="check-5" type="checkbox" onclick="darkmode()">
              <label for="check-5"></label>
              <style>
                  body{
                    /* padding: 8% 0% 2%; */
                    background-color: white;
                    color: black;
                }
                body.dark-mode{
                    background-color: black;
                    color: white;
                }

                  .checkbox-wrapper-5 .check {
                    --size: 40px;

                    position: relative;
                    background: linear-gradient(90deg, #f19af3, #f099b5);
                    line-height: 0;
                    perspective: 400px;
                    font-size: var(--size);
                  }

                  .checkbox-wrapper-5 .check input[type="checkbox"],
                  .checkbox-wrapper-5 .check label,
                  .checkbox-wrapper-5 .check label::before,
                  .checkbox-wrapper-5 .check label::after,
                  .checkbox-wrapper-5 .check {
                    appearance: none;
                    display: inline-block;
                    border-radius: var(--size);
                    border: 0;
                    transition: .35s ease-in-out;
                    box-sizing: border-box;
                    cursor: pointer;
                  }

                  .checkbox-wrapper-5 .check label {
                    width: calc(2.2 * var(--size));
                    height: var(--size);
                    background: #d7d7d7;
                    overflow: hidden;
                  }

                  .checkbox-wrapper-5 .check input[type="checkbox"] {
                    position: absolute;
                    z-index: 1;
                    width: calc(.8 * var(--size));
                    height: calc(.8 * var(--size));
                    top: calc(.1 * var(--size));
                    left: calc(.1 * var(--size));
                    background: linear-gradient(45deg, #dedede, #ffffff);
                    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
                    outline: none;
                    margin: 0;
                  }

                  .checkbox-wrapper-5 .check input[type="checkbox"]:checked {
                    left: calc(1.3 * var(--size));
                  }

                  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label {
                    background: transparent;
                  }

                  .checkbox-wrapper-5 .check label::before,
                  .checkbox-wrapper-5 .check label::after {
                    content: "· ·";
                    position: absolute;
                    overflow: hidden;
                    left: calc(.15 * var(--size));
                    top: calc(.5 * var(--size));
                    height: var(--size);
                    letter-spacing: calc(-0.04 * var(--size));
                    color: #9b9b9b;
                    font-family: "Times New Roman", serif;
                    z-index: 2;
                    font-size: calc(.6 * var(--size));
                    border-radius: 0;
                    transform-origin: 0 0 calc(-0.5 * var(--size));
                    backface-visibility: hidden;
                  }

                  .checkbox-wrapper-5 .check label::after {
                    content: "●";
                    top: calc(.65 * var(--size));
                    left: calc(.2 * var(--size));
                    height: calc(.1 * var(--size));
                    width: calc(.35 * var(--size));
                    font-size: calc(.2 * var(--size));
                    transform-origin: 0 0 calc(-0.4 * var(--size));
                  }

                  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::before,
                  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
                    left: calc(1.55 * var(--size));
                    top: calc(.4 * var(--size));
                    line-height: calc(.1 * var(--size));
                    transform: rotateY(360deg);
                  }

                  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
                    height: calc(.16 * var(--size));
                    top: calc(.55 * var(--size));
                    left: calc(1.6 * var(--size));
                    font-size: calc(.6 * var(--size));
                    line-height: 0;
                  }
              </style>


              </style>
            </div>
          </div>
        
          <!-- JavaScript for dark mode -->
          <script>
            function darkmode() {
              const body = document.body;
              body.classList.toggle("dark-mode");
            }
          </script>
        
        </ul>
      </div>
    </div>
  </nav>

  <!-- Dark mode toggle checkbox -->

  <% if (locals.error) { %>
  <div class="container mt-4">
    <div class="alert alert-danger" role="alert"><%= locals.error %></div>
  </div>
  <% } %>
</body>
</html>
